@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	width: 25%;
}

footer {
	text-align: left;
}

header {
	padding: 20px 0;
	padding-left: 20px;
	font-weight: bold;
}

img {
	max-width: 75%;
	height: auto;
	display: block;
	margin: 0 auto;
}

main {
	width: 65%;
	margin-right: 20px;
}

nav {
	width: 150px;
	font-size: 1em;
	text-align: center;
	list-style-type: disc;
	float: left;
	margin-bottom: 10px;
	width: 20%;
}

#copyright {
	font-size: 80%;
}

#main-container {
	width: 60%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 20px;
}